body {
  margin: 0;
  text-align: center;
  color: #40514E;
  font-family: 'Merriweather', serif;
}

h1 {
  font-family: 'Rouge Script', cursive;
  font-size: 5.625em;
  margin-bottom: 0;
  color: #66BFBF;
}

h2 {
  font-size: 2.5rem;
  color: #66BFBF;
  margin-bottom: 0;
  font-family: 'Montserrat', sans-serif;
}

h3 {
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
}

hr {
  border: dotted #EAF6F6;
  border-top: none;
  width: 4%;
  border-width: 5px;
  margin-bottom: 100px;
}

.web_dev {
  margin-top: 0;
  font-weight: normal;
  line-height: 2;
  font-size: 25px;
}

.top {
  background-color: #EAF6F6;
  position: relative;
  padding-top: 100px;
}

.pro {
  text-decoration: underline;
}

.top_cloud {
  position: absolute;
  right: 230px;
  top: 90px;
}

.bottom_cloud {
  position: absolute;
  bottom: 300px;
  left: 250px;
}

.profile {
  width: 40%;
  margin: 100px auto;
  line-height: 2;
}

.profile-img {
  border-radius: 50%;
}

.code-img {
  border-radius: 3em;
  width: 25%;
  float: left;
  margin-right: 30px;
}

.pasta-img {
  border-radius: 10em 10em 4.7em 4em;
  width: 40%;
  float: right;
  margin-left: 30px;
}

.butn {
  background: #11cdd4;
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  border: none;
  border-radius: 8px;
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 0;
  margin: 40px 0 85px;
}

.butn:hover {
  background: #30e3cb;
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}

.contact {
  text-decoration: none;
  color: white;
  font-weight: bold;
}

.bottom {
  font-family: 'Montserrat', sans-serif;
  background-color: #8ac6d1;
  padding: 40px;
}

.skill-row {
  width: 50%;
  margin: 100px auto;
  text-align: left;
  line-height: 2;
}

.love_pasta {
  margin: 50px auto;
}

a {
  color: #11999E;
  margin: 30px 20px;
  padding-bottom: 10px;
  text-decoration: none;
}

a:hover{
  color: #EAF6F6;
}

.copyright{
  color: #EAF6F6;
  font-size: 0.85em;
  margin-top: 35px;

}
